<!DOCTYPE HTML>
<!-- By Lee Avital and Ben Cohen. You're welcome. -->
<html>

<head>
  <title>Hackathon Bingo</title>
  <script type="text/javascript" src="angular.js"></script>
  <style type="text/css">
    #top {
      height: 20%;
    }
    #top button {
      height: 100%;
      width: 100%;
    }
    body,
    html,
    table {
      height: 90%;
    }
    tr {
      height: 20%;
    }
    td {
      width: 20%;
      text-align: center;
      vertical-align: middle;
      font-family: arial;
    }
  </style>
  <script type="text/javascript" src="app.js"></script>
</head>

<body ng-app="hackathonBingo" ng-controller="ctl">
  <div id="top">
    <button ng-click="reset()">reset</button>
  </div>
  <table>
    <tr ng-repeat="row in grid">
      <td ng-repeat="col in row" style="background-color: {{col.checked ? 'red' : 'green'}}" ng-click="col.checked = !col.checked; onBoardChange()">
        {{col.label}}
      </td>
    </tr>
  </table>
  <marquee ng-show="hasWonGame" id="winner" style="font-size: 42px; position: absolute; top: 40%; width: 100%">WINNER!!!one!!!!!!!1111!!!</marquee>
</body>

</html>
