<!DOCTYPE HTML>
<html>
   <head>
      <title>Hackathon Bingo</title>
      <script type="text/javascript" src="angular.js"></script>
      <style type="text/css">
         body, html, table{
            height: 100%;
         }
         tr{
            height: 20%;
            
         }
         td{
            width: 20%;
            text-align: center;
            vertical-align: middle;
            font-family: arial;
         }
      </style>
      <script type="text/javascript">
         
         var app = angular.module( 'hackathonBingo', [] ); 


         app.controller( 'ctl', [ '$scope', function( $scope ){
               
               var labels = ['somebody building jarvis', '"the next facebook"',
                     'someone with a HUGE box of hardware', 'a company with only XL shirts remaining',
                     'a neckbeard', 'Date Fontenot (#hellyeah)', 'someone trying to shower in the sink',
                     'that one kid who looks 13', 'a free credit to AWS/Google Cloud/etc', 'a crazy hat',
                     'someone with over five red bulls', 'the kid with way too many laptop stickers',
                     'glasshole', 'someone building a music recomendation system', 'someone without shoes',
                     'someone with a second monitor', 'person sending a snapchat of the whole room',
                     'the impossible hack', 'pedantic linux user', 'person with an intricate sleeping arrangment',
                     'someone sleeping under a table', 'a hack that "spreads awareness"', 'a person in an old MHacks shirt',
                     'PIZZA!', 'huge line for free T-Shirts', 'A full stack web developer', 'A windows phone'];


                     $scope.grid = [];


               for( var i = 0; i < 5; i++ ){
               $scope.grid.push( [] )
                  for( var j = 0; j < 5; j++ ){
                     
                     

                     // shuffle
                     $scope.grid[i].push({
                        label: labels.pop(),
                        checked: false

                     });




                  }
                  

               }
                     



               
               $scope.checkVictory = function(){
                  
                  // var grid = $scope.grid; 
                  // var v1 = grid[0][0].checked && grid[1][1].checked && grid[2][2].checked;

                  // v1 = v1 ||   ( grid[0][2].checked && grid[1][1].checked && grid[2][0].checked)

                  // v1 = v1 || (grid[0][1].cheked && grid[1][1].checked && grid[2][1].checked );
                  // 
                  // v1 = v1 || (grid[1][0].cheked && grid[1][1].checked && grid[1][0].checked );
                  // 
                  // if( v1 ){
                  //    alert( 'WINNER WINNER CHICKEN DINNER' );
                  // } 

               }

         }]);


      </script>
   </head>

   <body ng-app="hackathonBingo" ng-controller="ctl" >
      
      <table>
         
         <tr ng-repeat="row in grid">
            <td ng-repeat="col in row" style="background-color: {{col.checked ? 'red' : 'green'}}" 
               ng-click="col.checked = !col.checked; checkVictory()">
               {{col.label}}
            </td> 
         
         </tr> 

      </table> 

   </body>
      
</html>
